# OpenSSL root CA configuration file.

# Copy to the root directory where you are going to keep keys and certs.

[ ca ]
# `man ca`
default_ca = CA_default

[ CA_default ]
# Directory and file locations.
dir               = .						# Root directory for all keys and certs.
certs             = $dir/ca/certs 			# Where the issued certs are kept.
crl_dir           = $dir/ca/crl 			# Where the issued crl are kept.
new_certs_dir     = $dir/ca/newcerts 		# Default place for new certs.
database          = $dir/ca/index.txt		# Database index file.
serial            = $dir/ca/serial 			# The current serial number.
RANDFILE          = $dir/ca/private/.rand 	# Private random number file.

# The root key and root certificate.
private_key       = $dir/ca/private/ca.key.pem 	# The private key.
certificate       = $dir/ca/certs/ca.cert.pem 	# The CA certificate.

# For certificate revocation lists.
crlnumber         = $dir/ca/crlnumber
crl               = $dir/ca/crl/ca.crl.pem
crl_extensions    = crl_ext
default_crl_days  = 30

# SHA-1 is deprecated, so use SHA-2 instead.
default_md        = sha256

name_opt          = ca_default
cert_opt          = ca_default
default_days      = 1024
preserve          = no
policy            = policy_match

[ policy_match ]
countryName = match
stateOrProvinceName = match
organizationName = match
organizationalUnitName = match
commonName = match
emailAddress = optional

[ req ]
# Options for the `req` tool (`man req`).
default_bits        = 2048
distinguished_name  = req_distinguished_name
string_mask         = utf8only

# SHA-1 is deprecated, so use SHA-2 instead.
default_md          = sha256

# Extension to add when the -x509 option is used.
x509_extensions     = v3_ca

[ req_distinguished_name ]
# See <https://en.wikipedia.org/wiki/Certificate_signing_request>.
countryName                     = Country Name (2 letter code)
stateOrProvinceName             = State or Province Name
localityName                    = Locality Name
0.organizationName              = Organization Name
organizationalUnitName          = Organizational Unit Name
commonName                      = Common Name
emailAddress                    = Email Address

# Optionally, specify some defaults.
countryName_default             = US
stateOrProvinceName_default     = California
localityName_default            = Santa Cruz
0.organizationName_default      = Rob Currie
organizationalUnitName_default  = Rob Currie
commonName_default				= Jupyter Notebook
emailAddress_default            = rcurrie@ucsc.edu

[ v3_ca ]
# Extensions for a typical CA (`man x509v3_config`).
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
basicConstraints = critical, CA:true
keyUsage = critical, digitalSignature, cRLSign, keyCertSign

[ crl_ext ]
# Extension for CRLs (`man x509v3_config`).
authorityKeyIdentifier=keyid:always

[ server_cert ]
# Extensions for server certificates (`man x509v3_config`).
basicConstraints = CA:FALSE
nsCertType = server
nsComment = "OpenSSL Generated Server Certificate"
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid,issuer:always
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names

[ alt_names ]
DNS.1 	= plaza.gi.ucsc.edu
